* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Adwaita Sans", "Liberation Sans", sans-serif;
}

window#waybar {
  background-color: transparent;
  color: #fefefe;
  font-size: 16px;
  font-weight: bold;
}

#custom-logo {
  font-size: 30px;
  color: #1793d1;
  margin-right: 15px;
}

#custom-updates {
  color: black;
}

#workspaces button {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #f0f0f0;
}

#workspaces button.active {
  background-color: #fefefe;
  color: #0f0f0f;
}

#workspaces button:hover {
  color: black;
}

#workspaces button.urgent {
  background-color: #1793d1;
}

#custom-updates,
#battery,
#network,
#wireplumber,
#custom-exit,
#clock {
  border: 0.5px solid transparent;
  color: #fefefe;
  padding: 5px 15px;
}

#custom-updates.updates:hover,
#custom-updates.warnings:hover,
#custo-updates.urgent:hover,
#custom-updates:hover,
#battery:hover,
#network:hover,
#wireplumber:hover,
#clock:hover,
#custom-exit:hover {
  transition: 0.2s ease-in-out;
  border: 0.5px solid white;
  border-radius: 5px;
}

#custom-updates,
#battery,
#network,
#clock,
#custom-power {
  border-radius: 4px;
  margin: 4px;
  padding: 6px 12px;
}

#custom-updates.updates {
  color: #1793d1;
}

#custom-updates.warning {
  color: #ffff00;
}

#custom-updates.urgent {
  color: red;
}

#custom-exit {
  padding-right: 18px;
}

/* #memory { */
/*   background-color: #fab387; */
/* } */
/**/

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #ffff00;
}

#wireplumber {
  padding-right: 24px;
}

/* #backlight { */
/*   background-color: #fab387; */
/* } */
/**/
/* #wireplumber { */
/*   background-color: #f9e2af; */
/*   padding-right: 18px; */
/*   padding-left: 12px; */
/* } */
/**/
/* #network { */
/*   background-color: #94e2d5; */
/*   padding-right: 17px; */
/* } */
/**/
/* #clock { */
/*   background-color: #cba6f7; */
/* } */
/**/
/* #custom-power { */
/*   background-color: #f2cdcd; */
/* } */
/**/
/* #temperature { */
/*   color: #a6e3a1; */
/*   padding: 0 10px; */
/* } */
/**/
/* #temperature.critical { */
/*   color: #f38ba8; */
/*   font-weight: bold; */
/* } */
/**/
/* #language { */
/*   color: white; */
/* } */
/**/
/* tooltip { */
/*   border-radius: 8px; */
/*   padding: 15px; */
/*   background-color: #131822; */
/* } */
/**/
/* tooltip label { */
/*   padding: 5px; */
/*   background-color: #131822; */
/* } */
